@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800&display=swap');

:root {
  --background: #fffbf7;
  --background-w: #fff;

  --orange-1: #fff6f0;
  --orange-2: #ffb680;
  --orange-3: #ff992e;

  --color-1: #2c2c2c;
  --color-2: #727272;

  --shadow: rgba(149, 157, 165, 0.2);
}

*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  color: var(--color-1);
  transition: .2s ease;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-w);
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: inherit;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.col {
  flex-direction: column;
}

.flex.j_around {
  justify-content: space-around;
}

.flex.j_start {
  justify-content: flex-start;
}

.flex.j_between {
  justify-content: space-between;
}

.circle {
  aspect-ratio: 1;
  position: absolute;
  z-index: -99;
  background: var(--orange-2);
  box-shadow: var(--orange-2) 0px 8px 24px;
  filter: blur(10px);
  transform: rotate(0);
}

.full {
  width: 100%;
}

.bottom {
  position: relative;
}

.bottom::before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  height: 4px;
  background-color: var(--orange-2);
}

.hover.bottom::before {
  width: 0%;
}

.hover.bottom:hover::before {
  width: 100%;
}

.btn {
  background-color: var(--orange-3);
  border-radius: 80px;
  color: var(--background);
  cursor: pointer;
  padding: .6rem 2.4rem;
  box-shadow: var(--orange-2) 0px 8px 24px;
}

.truncate {
  width: 100%;
  display: block;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

nav {
  padding: 1.5rem 0;
  position: relative;
  margin: auto;
  background-color: var(--orange-2);
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 42px var(--orange-2);
}

nav .logo {
  font-size: 1.6rem;
  font-weight: 600;
  gap: 4px;
}

nav .logo span {
  font-size: 1.8rem;
  margin-right: 0.2rem;
}

nav .links a {
  font-size: 1.1em;
  padding: 0.4rem 1rem;
  color: var(--color-1);
  background-color: transparent;
  letter-spacing: 1px;
  margin: 0 .4em;
  border: 4px solid var(--orange-2);
}

nav .links a.active,
nav .links a:hover {
  border-radius: 4px;
  color: var(--background-w);
  border-bottom-color: var(--background);
}

nav a span {
  color: inherit;
  margin-top: .4rem;
  font-size: 1.8rem;
}

section {
  width: min(calc(100vw - 3rem), 1200px);
  justify-content: flex-start;
  margin: auto;
  position: relative;
  padding: 1rem 0;
}

section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
}

section h1.bottom::before {
  height: 8px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, calc(100% / 6)));
  gap: 1rem;
  justify-content: center;
}

.cardsContainer .card {
  overflow: hidden;
  padding: .8rem;
  text-align: center;
  border-radius: 4px;
  position: relative;
  background-color: var(--background-w);
  box-shadow: var(--shadow) 0px 12px 36px -6px;
  align-self: stretch;
}

.cardsContainer .card:hover::before {
  background-color: var(--orange-1);
  height: 100%;
  width: 100%;
}

.cardsContainer .card a {
  font-size: 1.2rem;
  color: var(--color-1);
}

.cardsContainer .card img {
  border-radius: 8px;
}

.cardsContainer .card:hover img {
  transform: scale(.95);
}

.meals .meal {
  box-shadow: var(--shadow) 0px 8px 24px;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--background-w);
  width: 290px;
}

.meals .meal .image_name {
  gap: 1rem;
  align-items: flex-start;
}

.meal .image_name img {
  width: 80px;
  border-radius: 10px;
}

.meal .image_name h4,
.meal .image_name h5 {
  font-weight: 400;
}

.meal .image_name h5 {
  color: var(--color-2);
}

.meal .links a:hover {
  box-shadow: var(--orange-2) 0px 8px 24px;
}

.ingredients {
  margin: 1rem 0;
}

.ingredients_list {
  gap: .5rem;
  padding: .5rem 0;
  align-items: stretch;
}

.ingredients_list .ingredient {
  padding: .4rem;
  background-color: var(--orange-1);
  max-height: 90px;
  border-radius: 12px;
  font-size: .7rem;
  overflow: hidden;
  width: 70px;
}

.ingredients_list .ingredient img {
  max-height: 60px;
}

.ingredients_list .ingredient:hover img {
  transform: scale(0.9);
}


.start {
  flex-direction: row;
  padding: 2rem;
}

.start h1 {
  font-size: 3.6rem;
}

.start p {
  color: var(--color-2);
}

.start .image {
  min-width: max(50%, 450px);
  max-width: 560px;
  aspect-ratio: 1;
  margin-right: -2rem;
  z-index: -999;
}

main:not(.recipe) .start .image img {
  animation: movingUpDown 1s ease infinite alternate-reverse;
}

.start .circle {
  border-radius: 53% 47% 50% 50% / 42% 38% 62% 58%;
  width: 60%;
  left: -30%;
  top: -50%;
  animation: circleRadius 2s ease infinite alternate-reverse;
}


.category {
  gap: 3rem;
  padding-bottom: 2rem;
  align-items: flex-start;
}

.category .circle {
  border-radius: 80% 61% 49% 61% / 65% 0% 94% 55%;
  width: 240px;
  right: -24%;
  bottom: 40%;
  height: 520px;
  filter: blur(30px);
}

.category .categories {
  justify-content: start;
}


.recipes {
  padding: 2rem 0;
}

.recipes .meals {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  width: calc(100vw - 3rem);
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


footer {
  padding: 3rem 0;
  width: 100vw;
  background-color: var(--orange-2);
  border-radius: 60% 60% 0 0 / 50% 50% 0 0;
  position: relative;
}

footer:before {
  position: absolute;
  content: '';
  border-radius: inherit;
  background-color: var(--orange-1);
  width: 100%;
  height: 180%;
  bottom: 0;
  z-index: -99;
  /* animation: footer 1s ease infinite alternate; */
}


/* .animate {
  opacity: 0;
  transition: 1s ease;
}

.active.animate {
  opacity: 1;
} */
/* 
.animate.right {
  transform: translateX(100px);
}

.animate.left {
  transform: translateX(-100px);
}

.active.animate.right,
.active.animate.left {
  transform: translateX(0);
}

.animate.top {
  transform: translateY(-40px);
}

.animate.Bottom {
  transform: translateY(40px);
}

.active.animate.top,
.active.animate.Bottom {
  transform: translateY(0);
} */


.filters {
  margin: 2em auto -2em;
  flex-wrap: wrap;
  gap: 2em;
}

.filters .search {
  position: relative;
  max-width: 920px;
  background-color: var(--orange-1);
  padding: 0.8em;
  border-radius: 60px;
  height: 40px;
}

.filters .search input {
  color: var(--color-1);
  background-color: inherit;
  font-size: 1.1em;
  padding: 0 0.6em;
  width: 100%;
  border: none;
  outline: none;
}

.filters .search button {
  padding: 0;
  height: 100%;
  aspect-ratio: 1;
}

.filters .search button svg {
  fill: var(--orange-1);
}

.filters select {
  border: none;
  outline: none;
}

.filters option {
  background-color: var(--orange-1);
  color: var(--color-1);
}


main.recipe .start .image {
  width: 240px;
  min-width: unset;
  margin: 1em 4em 0;
  border-radius: 53% 47% 50% 50% / 42% 38% 62% 58%;
  overflow: hidden;
  /* animation: circleRadius 5s ease infinite alternate-reverse; */
}

main.recipe .start h1 {
  max-width: 580px;
}

main.recipe ol {
  padding: 0 3em;
}

main.recipe ol li::marker {
  font-size: 2em;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--orange-1);
  z-index: 99999;
  backdrop-filter: opacity(0.5);
}

.loading .circle {
  width: 120px;
  border-radius: 53% 47% 50% 50% / 42% 58% 62% 58%;
  animation: movingUpDown .4s ease infinite alternate-reverse;
}

.loading h1 {
  color: var(--orange-2);
  text-shadow: 1px -1px 4px var(--orange-2);
  text-transform: capitalize;
  animation: movingUpDown 4s ease infinite alternate-reverse;
}

.scroll.btn {
  position: fixed;
  bottom: 2em;
  background-color: var(--orange-3);
  animation: movingUpDown 1s ease-in-out infinite alternate-reverse;
  z-index: 9999;
  padding: 0;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
}

@keyframes movingUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}


@keyframes circleRadius {
  100% {
    transform: rotate(360deg) translateY(-10px);
    border-radius: 40% 40% 60% 60% / 50% 50% 50% 50%;
  }
}


@keyframes footer {
  0% {
    height: 240%;
    background-color: var(--orange-2);
    opacity: .4;
  }

  100% {
    background-color: var(--orange-1);
  }
}


@media screen and (max-width : 670px) {

  main:not(.recipe) .start {
    align-items: flex-start;
    min-height: 100Vh;
  }


  main:not(.recipe) .start .image {
    position: absolute;
    bottom: 0;
  }

  .start p {
    color: var(--color-1);
  }
}